[submodule "software/3rdparty/nano-os"]
	path = 3rdparty/nano-os
	url = https://github.com/nanosoft-net/nano-os.git
[submodule "software/3rdparty/nano-stl"]
	path = 3rdparty/nano-stl
	url = https://github.com/nanosoft-net/nano-stl.git
